name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    uses: byronogis/workflows/.github/workflows/release.yml@v1
    permissions:
      contents: write
      id-token: write
    with:
      build: pnpm run build
      publish: pnpm -r publish --access public --no-git-checks
