name: Unit Test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  unit-test:
    uses: byronogis/workflows/.github/workflows/unit-test.yml@v1
    with:
      lint: nr root:lint
